@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(/resources/fonts/Roboto/Roboto-Light-latin.woff2) format('woff2'), url(/resources/fonts/Roboto/Roboto-Light-latin.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/resources/fonts/Roboto/Roboto-Regular-latin.woff2) format('woff2'), url(/resources/fonts/Roboto/Roboto-Regular-latin.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/resources/fonts/Roboto/Roboto-Bold-latin.woff2) format('woff2'), url(/resources/fonts/Roboto/Roboto-Bold-latin.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(/resources/fonts/Roboto/Roboto-LightItalic-latin.woff2) format('woff2'), url(/resources/fonts/Roboto/Roboto-LightItalic-latin.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(/resources/fonts/Roboto/Roboto-Italic-latin.woff2) format('woff2'), url(/resources/fonts/Roboto/Roboto-Italic-latin.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(/resources/fonts/Roboto/Roboto-BoldItalic-latin.woff2) format('woff2'), url(/resources/fonts/Roboto/Roboto-BoldItalic-latin.woff) format('woff');
}
