<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (C) 2020 Radix IoT LLC. All rights reserved.
  -->
<Configuration packages="com.serotonin.m2m2.rt.console">
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="${mango:appender.stdout.pattern}"/>
		</Console>
		<RollingRandomAccessFile name="logfile" filePattern="${mango:paths.logs}/%d{MM-dd-yyyy}-%i.ma.log" fileName="${mango:paths.logs}/ma.log">
			<PatternLayout pattern="${mango:appender.logfile.pattern}"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="5MB"/>
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${mango:paths.logs}" >
					<IfFileName regex=".*.ma.log" />
					<IfAccumulatedFileCount exceeds="20"/>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
		<MangoFrontendAppender name="frontend">
			<PatternLayout pattern="${mango:appender.frontend.pattern}"/>
		</MangoFrontendAppender>
		<!-- IasTsdb Logging -->
		<RollingRandomAccessFile name="corruption" filePattern="${mango:paths.logs}/%d{MM-dd-yyyy}-%i.iastsdb-corruption.log" fileName="${mango:paths.logs}/iastsdb-corruption.log">
			<PatternLayout pattern="%m"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="5MB"/>
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${mango:paths.logs}" >
					<IfFileName regex=".*.iastsdb-corruption.log" />
					<IfAccumulatedFileCount exceeds="20"/>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="compression" filePattern="${mango:paths.logs}/%d{MM-dd-yyyy}-%i.iastsdb-compression.log" fileName="${mango:paths.logs}/iastsdb-compression.log">
			<PatternLayout pattern="%m"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="5MB"/>
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${mango:paths.logs}" >
					<IfFileName regex=".*.iastsdb-compression.log" />
					<IfAccumulatedFileCount exceeds="20"/>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="reverser" filePattern="${mango:paths.logs}/%d{MM-dd-yyyy}-%i.iastsdb-reverse.log" fileName="${mango:paths.logs}/iastsdb-reverse.log">
			<PatternLayout pattern="%m"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="5MB"/>
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="logs" >
					<IfFileName regex=".*.iastsdb-reverse.log" />
					<IfAccumulatedFileCount exceeds="20"/>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
        <RollingRandomAccessFile name="script" filePattern="${mango:paths.logs}/%d{MM-dd-yyyy}-%i.script.log" fileName="${mango:paths.logs}/script.log">
            <PatternLayout pattern="%-5p %d{ISO8601} %c - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${mango:paths.logs}" >
                    <IfFileName regex=".*.script.log" />
                    <IfAccumulatedFileCount exceeds="20"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<AsyncLogger name="com.infiniteautomation.tsdb.corruption" level="info" additivity="false">
		  <AppenderRef ref="corruption"/>
		</AsyncLogger>
		<AsyncLogger name="com.infiniteautomation.tsdb.compression" level="info" additivity="false">
		  <AppenderRef ref="compression"/>
		</AsyncLogger>
		<AsyncLogger name="com.infiniteautomation.tsdb.reverser" level="info" additivity="false">
		  <AppenderRef ref="reverser"/>
		</AsyncLogger>
        <AsyncLogger includeLocation="false" name="script" level="trace" additivity="false">
            <AppenderRef ref="script" />
        </AsyncLogger>

		<AsyncLogger name="com.serotonin.m2m2" includeLocation="${mango:logger.mango.includeLocation}" level="${mango:logger.mango.level}"/>
		<AsyncLogger name="com.infiniteautomation" includeLocation="${mango:logger.mango.includeLocation}" level="${mango:logger.mango.level}"/>
		<AsyncRoot includeLocation="${mango:logger.root.includeLocation}" level="${mango:logger.root.level}">
			<AppenderRef ref="logfile" level="${mango:appender.logfile.level}" />
			<AppenderRef ref="stdout" level="${mango:appender.stdout.level}" />
			<AppenderRef ref="frontend" level="${mango:appender.frontend.level}" />
		</AsyncRoot>
	</Loggers>
</Configuration>