<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
	<Appenders>
		<Null name="no_output" />
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p %d{ISO8601} (%C.%M:%L) - %m %n"/>
		</Console>
	</Appenders>
	<Loggers>
		<AsyncLogger includeLocation="true" name="org.apache.http.wire" level="debug"/>
		<AsyncRoot includeLocation="true" level="error">
			<AppenderRef ref="stdout"/>
		</AsyncRoot>
	</Loggers>
</Configuration>