@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/resources/fonts/Open Sans/OpenSans-Light-latin.woff2) format('woff2'), url(/resources/fonts/Open Sans/OpenSans-Light-latin.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/resources/fonts/Open Sans/OpenSans-latin.woff2) format('woff2'), url(/resources/fonts/Open Sans/OpenSans-latin.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/resources/fonts/Open Sans/OpenSans-Semibold-latin.woff2) format('woff2'), url(/resources/fonts/Open Sans/OpenSans-Semibold-latin.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/resources/fonts/Open Sans/OpenSans-Bold-latin.woff2) format('woff2'), url(/resources/fonts/Open Sans/OpenSans-Bold-latin.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(/resources/fonts/Open Sans/OpenSans-Extrabold-latin.woff2) format('woff2'), url(/resources/fonts/Open Sans/OpenSans-Extrabold-latin.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(/resources/fonts/Open Sans/OpenSansLight-Italic-latin.woff2) format('woff2'), url(/resources/fonts/Open Sans/OpenSansLight-Italic-latin.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/resources/fonts/Open Sans/OpenSans-Italic-latin.woff2) format('woff2'), url(/resources/fonts/Open Sans/OpenSans-Italic-latin.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(/resources/fonts/Open Sans/OpenSans-SemiboldItalic-latin.woff2) format('woff2'), url(/resources/fonts/Open Sans/OpenSans-SemiboldItalic-latin.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/resources/fonts/Open Sans/OpenSans-BoldItalic-latin.woff2) format('woff2'), url(/resources/fonts/Open Sans/OpenSans-BoldItalic-latin.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(/resources/fonts/Open Sans/OpenSans-ExtraboldItalic-latin.woff2) format('woff2'), url(/resources/fonts/Open Sans/OpenSans-ExtraboldItalic-latin.woff) format('woff');
}
