/doc
/logs
/madb
/m2m2db
/target
/m2m2.license*
/m2m2-core-*
/RESTART
/bin
*~
/work
/module-common.properties
/derby.log
/release
/save
/mango.build.number
/maven-target
/databases
/backup
/filestore
/dist/
/web/WEB-INF/tags/*
!/web/WEB-INF/tags/*.tag
!/web/WEB-INF/tags/page
!/web/WEB-INF/tags/html5
/junit/
/data/
.settings
.classpath
.project
/env.properties
