<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2014 Infinite Automation Systems Inc. All rights reserved.
    @author Matthew Lohbihler
-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <!-- i18n -->
  <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver"/>
  <bean id="messageSource" class="com.serotonin.m2m2.i18n.TranslatedMessageSource"/>
</beans>
