<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2006-2011 Serotonin Software Technologies Inc. All rights reserved.
    @author Matthew Lohbihler
-->

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
  - Application context definition for DispatcherServlet.
  -->
<beans>
  
  <!-- View resolver -->
  <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="viewClass"><value>org.springframework.web.servlet.view.JstlView</value></property>
  </bean>
  
  <!-- Default message code resolver -->
  <bean id="defaultMessageCodeResolver" class="com.serotonin.propertyEditor.DefaultMessageCodesResolver"/>
  
  <!-- 
      URL mappings to controllers
  -->
  <bean id="mappings" class="com.serotonin.m2m2.web.mvc.BlabberUrlHandlerMapping">
    <property name="mappings">
      <props>
        <!-- All user URLs -->
        <prop key="/data_point_edit.shtm">dataPointEditController</prop>
        <prop key="/data_source_edit.shtm">dataSourceEditController</prop>
        
        <prop key="/data_source.shtm">dataSourceController</prop>
        <prop key="/data_source_properties.shtm">dataSourcePropertiesController</prop>
        
        <prop key="/help.shtm">helpController</prop>
        <prop key="/login.htm">loginController</prop>
        <prop key="/logout.htm">logoutController</prop>
        <prop key="/publisher_edit.shtm">publisherEditController</prop>
        <prop key="/unauthorized.htm">unauthorizedController</prop>
        <prop key="/users.shtm">usersController</prop>
        <prop key="/webcam_live_feed.htm">webcamLiveFeedController</prop>
      </props>
    </property>
    
    <property name="interceptors">
      <list>
        <ref bean="commonData"/>
      </list>
    </property>
  </bean>
  
  <!--
     Controllers
  -->
  
  <bean id="dataSourceController" class="com.serotonin.m2m2.web.mvc.controller.DataSourceController">
    <property name="viewName"><value>/WEB-INF/jsp/dataSource.jsp</value></property>
    <property name="errorViewName"><value>/data_source_error.shtm</value></property>
  </bean>
  <bean id="dataSourcePropertiesController" class="com.serotonin.m2m2.web.mvc.controller.DataSourcePropertiesController">
    <property name="viewName"><value>/WEB-INF/jsp/dataSourceProperties.jsp</value></property>
    <property name="errorViewName"><value>/data_source_properties_error.shtm</value></property>
  </bean>  
  
  <bean id="dataPointEditController" class="com.serotonin.m2m2.web.mvc.controller.DataPointEditController">
    <property name="commandName"><value>form</value></property>
    <property name="commandClass"><value>com.serotonin.m2m2.vo.DataPointVO</value></property>
    <property name="formView"><value>/WEB-INF/jsp/dataPointEdit.jsp</value></property>
    <property name="successView"><value>data_point_edit.shtm</value></property>
    <property name="messageCodesResolver"><ref bean="defaultMessageCodeResolver"/></property>
  </bean>
  
  <bean id="dataSourceEditController" class="com.serotonin.m2m2.web.mvc.controller.DataSourceEditController">
    <property name="viewName"><value>/WEB-INF/jsp/dataSourceEdit.jsp</value></property>
    <property name="errorViewName"><value>/data_sources.shtm</value></property>
    </bean>
  
  <bean id="helpController" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
    <property name="viewName"><value>/WEB-INF/jsp/help.jsp</value></property>
  </bean>
  
  <bean id="loginController" class="com.serotonin.m2m2.web.mvc.controller.LoginController">
    <property name="commandName"><value>login</value></property>
    <property name="commandClass"><value>com.serotonin.m2m2.web.mvc.form.LoginForm</value></property>
    <property name="formView"><value>/WEB-INF/jsp/login.jsp</value></property>
    <property name="bindOnNewForm"><value>true</value></property>
  </bean>
  
  <bean id="logoutController" class="com.serotonin.m2m2.web.mvc.controller.LogoutController"/>
  
  <bean id="publisherEditController" class="com.serotonin.m2m2.web.mvc.controller.PublisherEditController">
    <property name="viewName"><value>/WEB-INF/jsp/publisherEdit.jsp</value></property>
    <property name="errorViewName"><value>/publishers.shtm</value></property>
    </bean>
  
  <bean id="usersController" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
    <property name="viewName"><value>/WEB-INF/jsp/users.jsp</value></property>
  </bean>
  
  <bean id="webcamLiveFeedController" class="com.serotonin.m2m2.web.mvc.controller.WebcamLiveFeedController">
    <property name="viewName"><value>/WEB-INF/jsp/webcamLiveFeed.jsp</value></property>
  </bean>
  
  <bean id="unauthorizedController" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
    <property name="viewName"><value>/WEB-INF/jsp/unauthorized.jsp</value></property>
  </bean>
  
  
  <!-- Interceptors -->
  <bean id="commonData" class="com.serotonin.m2m2.web.mvc.interceptor.CommonDataInterceptor"/>
</beans>
