<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2014 Infinite Automation Systems Inc. All rights reserved.
    @author Matthew Lohbihler
-->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <!-- 
    Filter definitions.
   -->
  <filter>
    <filter-name>CharacterSet</filter-name>
    <filter-class>com.serotonin.web.filter.CharacterSetFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  

  
  <filter>
    <filter-name>UrlSecurity</filter-name>
    <filter-class>com.serotonin.m2m2.web.filter.UrlSecurityFilter</filter-class>
  </filter>

  <filter>
    <filter-name>IsLoggedIn</filter-name>
    <filter-class>com.serotonin.m2m2.web.filter.LoggedInFilter</filter-class>
    <init-param>
      <param-name>exceededIpLimitUrl</param-name>
      <param-value>/exception/exceededIpLimitUrl.jsp</param-value>
    </init-param>
  </filter>
  
  <filter>
    <filter-name>WebContext</filter-name>
    <filter-class>com.serotonin.m2m2.web.filter.WebContextFilter</filter-class>
  </filter>
  
  <filter>
    <filter-name>CacheHeaders</filter-name>
    <filter-class>com.serotonin.web.filter.HttpResponseHeaderFilter</filter-class>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>max-age=5184000</param-value>
    </init-param>
  </filter>
  
  <filter>
    <filter-name>Translations</filter-name>
    <filter-class>com.serotonin.m2m2.web.filter.TranslationsFilter</filter-class>
  </filter>
  
  <!-- GZIP Compression Enabling -->
  <filter>
    <filter-name>GzipFilter</filter-name>
      <filter-class>org.eclipse.jetty.servlets.GzipFilter</filter-class>
        <init-param>
          <param-name>mimeTypes</param-name>
          <param-value>text/html,text/plain,text/xml,application/xhtml+xml,text/css,application/javascript,image/svg+xml,application/json,text/javascript,application/x-javascript</param-value>
        </init-param>
  </filter>
  
<filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>com.serotonin.m2m2.web.filter.UrlRewriteFilter</filter-class>
</filter>

  
  
  <!-- 
    Filter mappings.
   -->
  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>CharacterSet</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CharacterSet</filter-name>
    <url-pattern>*.shtm</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>UrlSecurity</filter-name>
    <url-pattern>*.shtm</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>IsLoggedIn</filter-name>
    <url-pattern>*.shtm</url-pattern>
  </filter-mapping>


  
  <filter-mapping>
    <filter-name>WebContext</filter-name>
    <url-pattern>*.shtm</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>Translations</filter-name>
    <url-pattern>/exception/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CacheHeaders</filter-name>
    <url-pattern>/dwr/interfaces/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheHeaders</filter-name>
    <url-pattern>/dwr/engine.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheHeaders</filter-name>
    <url-pattern>/dwr/utils.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheHeaders</filter-name>
    <url-pattern>/audio/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheHeaders</filter-name>
    <url-pattern>/images/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheHeaders</filter-name>
    <url-pattern>/graphics/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheHeaders</filter-name>
    <url-pattern>/resources/*</url-pattern>
  </filter-mapping>

  
  <!-- 
    Servlet definitions.
   -->
  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
    <init-param>
      <param-name>useFileMappedBuffer</param-name>
      <param-value>false</param-value>
    </init-param>  
  </servlet>   
   
  <servlet>
    <servlet-name>springDispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!--  Un-comment when we are ready to use annotations instead of the springDispatcher-servlet.xml config -->
    <init-param>
        <param-name>contextClass</param-name>
        <param-value>
            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
        </param-value>
    </init-param>
    <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            com.serotonin.m2m2.web.mvc.spring.MangoCoreSpringConfiguration
        </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <description>Necessary for testing existing dwr creators, no performance hit</description>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>activeReverseAjaxEnabled</param-name>
      <param-value>true</param-value>
    </init-param>    
    <init-param>
      <param-name>publishContainerAs</param-name>
      <param-value>DwrContainer</param-value>
    </init-param>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>org.directwebremoting.extend.ConverterManager</param-name>
      <param-value>com.serotonin.m2m2.web.dwr.util.BlabberConverterManager</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>imageChart</servlet-name>
    <servlet-class>com.serotonin.m2m2.web.servlet.ImageChartServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>asyncImageChart</servlet-name>
    <servlet-class>com.serotonin.m2m2.web.servlet.AsyncImageChartServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>imageValue</servlet-name>
    <servlet-class>com.serotonin.m2m2.web.servlet.ImageValueServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>chartExport</servlet-name>
    <servlet-class>com.serotonin.m2m2.web.servlet.ChartExportServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>eventExport</servlet-name>
    <servlet-class>com.serotonin.m2m2.web.servlet.EventExportServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>mangoStatus</servlet-name>
    <servlet-class>com.serotonin.m2m2.web.servlet.StatusServlet</servlet-class>
  </servlet>
  
  <!-- 
    Servlet mappings.
   -->
  <!-- JSPC servlet mappings start -->

    <servlet>
        <servlet-name>org.apache.jsp.index_jsp</servlet-name>
        <servlet-class>org.apache.jsp.index_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.changeContentRadio_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.changeContentRadio_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.changeContentSelect_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.changeContentSelect_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.changeContentText_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.changeContentText_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.common_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.common_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.dataPointEmport_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.dataPointEmport_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.dataPointMessages_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.dataPointMessages_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.errorBox_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.errorBox_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.eventList_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.eventList_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.exportDialog_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.exportDialog_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.flipbookChart_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.flipbookChart_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.imageChart_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.imageChart_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.imageChart2_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.imageChart2_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.imageValueThumbnail_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.imageValueThumbnail_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.message_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.message_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.setPointContentRadio_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.setPointContentRadio_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.setPointContentSelect_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.setPointContentSelect_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.setPointContentText_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.setPointContentText_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.statsChart_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.statsChart_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.tableChart_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.tableChart_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.userIcon_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.userIcon_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.pointValue.pointValueEmport_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.view.pointValue.pointValueEmport_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.pointValue.pointValueTable_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.view.pointValue.pointValueTable_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.eventInstance.eventInstanceEmport_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.view.eventInstance.eventInstanceEmport_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.eventInstance.eventInstanceTable_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.view.eventInstance.eventInstanceTable_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataSource.dataSourceEdit_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.view.dataSource.dataSourceEdit_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataSource.dataSourceTable_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.view.dataSource.dataSourceTable_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.chartRenderer_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.chartRenderer_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.dataPointEdit_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.dataPointEdit_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.dataPointSettings_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.dataPointSettings_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.dataPointTable_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.dataPointTable_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.eventDetectors_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.eventDetectors_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.loggingProperties_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.loggingProperties_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.pointName_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.pointName_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.pointProperties_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.pointProperties_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.textRenderer_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.textRenderer_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.valuePurge_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.valuePurge_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.dataPointDetails_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.dataPointDetails_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.dataPointEdit_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.dataPointEdit_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.dataPointSettingsTest_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.dataPointSettingsTest_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.dataSource_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.dataSource_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.dataSourceEdit_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.dataSourceEdit_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.dataSourceList_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.dataSourceList_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.dataSourceProperties_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.dataSourceProperties_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.emport_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.emport_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.eventHandlers_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.eventHandlers_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.events_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.events_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.eventsReport_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.eventsReport_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.help_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.help_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.login_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.login_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.mailingLists_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.mailingLists_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.modules_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.modules_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.pointHierarchy_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.pointHierarchy_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.publisherEdit_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.publisherEdit_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.publisherList_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.publisherList_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.rest_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.rest_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.shutdown_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.shutdown_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.starting_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.starting_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.systemSettings_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.systemSettings_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.unauthorized_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.unauthorized_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.users_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.users_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.webcamLiveFeed_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.webcamLiveFeed_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.pointEdit.chartRenderer_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.pointEdit.chartRenderer_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.pointEdit.eventDetectors_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.pointEdit.eventDetectors_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.pointEdit.loggingProperties_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.pointEdit.loggingProperties_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.pointEdit.pointName_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.pointEdit.pointName_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.pointEdit.pointProperties_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.pointEdit.pointProperties_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.pointEdit.textRenderer_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.pointEdit.textRenderer_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.pointEdit.valuePurge_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.pointEdit.valuePurge_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.mobile.dataPointDetails_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.mobile.dataPointDetails_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.mobile.home_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.mobile.home_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.include._005fcompile_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.include._005fcompile_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.include.tech_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.include.tech_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.include.userComment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.include.userComment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.error.dataPointError_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.error.dataPointError_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.error.dataSourceError_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsp.error.dataSourceError_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.exception._404_jsp</servlet-name>
        <servlet-class>org.apache.jsp.exception._404_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.exception.accessDenied_jsp</servlet-name>
        <servlet-class>org.apache.jsp.exception.accessDenied_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.exception.error_jsp</servlet-name>
        <servlet-class>org.apache.jsp.exception.error_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.exception.exceededIpLimitUrl_jsp</servlet-name>
        <servlet-class>org.apache.jsp.exception.exceededIpLimitUrl_jsp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.index_jsp</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.changeContentRadio_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/changeContentRadio.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.changeContentSelect_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/changeContentSelect.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.changeContentText_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/changeContentText.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.common_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/common.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.dataPointEmport_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/dataPointEmport.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.dataPointMessages_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/dataPointMessages.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.errorBox_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/errorBox.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.eventList_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/eventList.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.exportDialog_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/exportDialog.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.flipbookChart_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/flipbookChart.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.imageChart_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/imageChart.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.imageChart2_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/imageChart2.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.imageValueThumbnail_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/imageValueThumbnail.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.message_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/message.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.setPointContentRadio_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/setPointContentRadio.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.setPointContentSelect_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/setPointContentSelect.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.setPointContentText_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/setPointContentText.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.statsChart_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/statsChart.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.tableChart_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/tableChart.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.userIcon_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/userIcon.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.pointValue.pointValueEmport_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/view/pointValue/pointValueEmport.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.pointValue.pointValueTable_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/view/pointValue/pointValueTable.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.eventInstance.eventInstanceEmport_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/view/eventInstance/eventInstanceEmport.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.eventInstance.eventInstanceTable_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/view/eventInstance/eventInstanceTable.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataSource.dataSourceEdit_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/view/dataSource/dataSourceEdit.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataSource.dataSourceTable_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/view/dataSource/dataSourceTable.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.chartRenderer_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/view/dataPoint/chartRenderer.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.dataPointEdit_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/view/dataPoint/dataPointEdit.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.dataPointSettings_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/view/dataPoint/dataPointSettings.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.dataPointTable_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/view/dataPoint/dataPointTable.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.eventDetectors_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/view/dataPoint/eventDetectors.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.loggingProperties_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/view/dataPoint/loggingProperties.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.pointName_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/view/dataPoint/pointName.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.pointProperties_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/view/dataPoint/pointProperties.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.textRenderer_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/view/dataPoint/textRenderer.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.snippet.view.dataPoint.valuePurge_jsp</servlet-name>
        <url-pattern>/WEB-INF/snippet/view/dataPoint/valuePurge.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.dataPointDetails_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/dataPointDetails.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.dataPointEdit_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/dataPointEdit.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.dataPointSettingsTest_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/dataPointSettingsTest.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.dataSource_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/dataSource.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.dataSourceEdit_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/dataSourceEdit.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.dataSourceList_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/dataSourceList.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.dataSourceProperties_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/dataSourceProperties.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.emport_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/emport.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.eventHandlers_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/eventHandlers.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.events_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/events.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.eventsReport_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/eventsReport.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.help_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/help.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.login_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/login.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.mailingLists_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/mailingLists.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.modules_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/modules.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.pointHierarchy_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/pointHierarchy.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.publisherEdit_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/publisherEdit.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.publisherList_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/publisherList.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.rest_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/rest.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.shutdown_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/shutdown.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.starting_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/starting.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.systemSettings_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/systemSettings.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.unauthorized_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/unauthorized.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.users_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/users.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.webcamLiveFeed_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/webcamLiveFeed.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.pointEdit.chartRenderer_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/pointEdit/chartRenderer.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.pointEdit.eventDetectors_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/pointEdit/eventDetectors.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.pointEdit.loggingProperties_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/pointEdit/loggingProperties.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.pointEdit.pointName_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/pointEdit/pointName.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.pointEdit.pointProperties_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/pointEdit/pointProperties.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.pointEdit.textRenderer_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/pointEdit/textRenderer.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.pointEdit.valuePurge_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/pointEdit/valuePurge.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.mobile.dataPointDetails_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/mobile/dataPointDetails.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.mobile.home_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/mobile/home.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.include._005fcompile_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/include/_compile.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.include.tech_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/include/tech.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.include.userComment_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/include/userComment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.error.dataPointError_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/error/dataPointError.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsp.error.dataSourceError_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsp/error/dataSourceError.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.exception._404_jsp</servlet-name>
        <url-pattern>/exception/404.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.exception.accessDenied_jsp</servlet-name>
        <url-pattern>/exception/accessDenied.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.exception.error_jsp</servlet-name>
        <url-pattern>/exception/error.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.exception.exceededIpLimitUrl_jsp</servlet-name>
        <url-pattern>/exception/exceededIpLimitUrl.jsp</url-pattern>
    </servlet-mapping>

<!-- JSPC servlet mappings end -->

<servlet-mapping>
    <servlet-name>springDispatcher</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>springDispatcher</servlet-name>
    <url-pattern>*.shtm</url-pattern>
  </servlet-mapping>
  
  <!-- For REST JSON API -->
  <servlet-mapping>
    <servlet-name>springDispatcher</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <!--  For Swagger REST API DOCUMENTATION -->
  <servlet-mapping>
    <servlet-name>springDispatcher</servlet-name>
    <url-pattern>/api-docs*</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>imageChart</servlet-name>
    <url-pattern>/chart/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>asyncImageChart</servlet-name>
    <url-pattern>/achart/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>imageValue</servlet-name>
    <url-pattern>/imageValue/*</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>chartExport</servlet-name>
    <url-pattern>/chartExport/*</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>eventExport</servlet-name>
    <url-pattern>/eventExport/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>mangoStatus</servlet-name>
    <url-pattern>/status/*</url-pattern>
  </servlet-mapping> 
  
  <!-- 
    Context listeners.
   -->
  <listener><listener-class>org.springframework.web.context.ContextLoaderListener</listener-class></listener>
  <listener><listener-class>com.serotonin.m2m2.web.M2M2ContextListener</listener-class></listener>
  
  <!-- 
    Other stuff.
   -->
  <session-config>
    <session-timeout>2880</session-timeout>
  </session-config>
    
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <exception-type>com.serotonin.m2m2.vo.permission.PermissionException</exception-type>
    <location>/exception/accessDenied.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>500</error-code>
    <location>/exception/error.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>404</error-code>
    <location>/exception/404.jsp</location>
  </error-page>
  
</web-app>
