/*! HTML5 Boilerplate v5.0.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-size: 11px;
    font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* override bootstrap style */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Hard override fonts in datetimepicker as it sets its own fonts.
 * Dont use Verdana as it is too large for the font sizes datetimepicker sets.
 */
.mango .xdsoft_datetimepicker {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, a:visited, a:link, .link {
    color: #804000;
    text-decoration: underline;
}

a:hover {
    color: #F07800;
    text-decoration: underline;
}

select, input, textarea, button {
  color: #333333;
  border: 1px solid #F07800;
}

select, input, textarea {
  padding: 2px;
}

input {
  line-height: normal;
}

.mango .dijitTextBox {
  border-color: #F07800 !important;
}

header {
    margin: 5px;
    position: relative;
}

/* Mango instance name in header */
.instance-description {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.2em;
    font-weight: bold;
}

/* Event summary in header */
header .event-summary {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

header .event-summary a {
    text-decoration: none;
}

.event-summary .acknowledge {
    margin-left: 3px;
}

.event-summary a img {
    margin-right: 3px;
}

/* Navigation links - menu bar */
nav {
    background-color: #F0F0F0;
    margin: 0.5em 0;
    padding: 5px;
}

/* User links, i.e. username, logout, mute, save home page etc */
nav .user-nav {
    float: right;
}

/* Navigation menu label popups */
.labelDiv {
    position:absolute;
    padding:1px 5px 1px 5px;
    margin:0px;
    background:#F8BB00;
    white-space:nowrap;
    z-index: 20;
    border:1px solid #F07800;
}

/* Content pane */
.content {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Table styles */
td {
    color: #000000;
    background-color: #F0F0F0;
    padding: 3px;
}

tr:nth-child(even) td {
    background-color: #DCDCDC;
}

th {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #F07800;
    text-align: center;
    white-space: nowrap;
    padding: 3px 10px 3px 10px;
}

th td a,
th td a:visited,
th td a:link,
th td a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

table.layout tr td,
table.layout tr th {
    color: inherit;
    background-color: inherit;
    font-weight: inherit;
    text-align: inherit;
    white-space: inherit;
    padding: 0;
    margin: 0;
    border: none;
}

table.padded tr td,
table.padded tr th {
    padding: 3px;
}

.dgrid td,
.dgrid th {
    background-color: inherit;
}

footer {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

/*
 * Help dialog / documentation pane
 */
#documentationPane {
    overflow: visible;
}

#documentationPane .dojoxFloatingPaneTitle {
    font-weight: bold;
    background-color: #6D933E;
}

#documentationPane .dojoxFloatingCloseIcon {
    background-image: url(/images/cross_doc.png);
    cursor: pointer;
}

#documentationPane .dojoxFloatingPaneContent {
    font-size: 10px;
    background-color: #f0f0f0;
}

#documentationPane .dojoxFloatingPaneContent > div {
    padding: 5px;
}

#documentationPane .dojoxFloatingPaneContent h1 {
    font-size: 1.3em;
}

#documentationPane .dojoxFloatingPaneContent img {
    vertical-align: bottom;
}

/* dgrid styles
 */

.dgrid-header th {
  font-weight: bold;
  color: #FFFFFF;
  background-color: #F07800;
}

/* 
 * More dgrid styles, these are scoped under the mango class
 * to give them higher priority over default dgrid styles which are
 * re-included by dgrid. Keep the .mango selector until dgrid is fixed.
 */
.mango .dgrid-grid .dgrid-no-data,
.mango .dgrid-grid .dgrid-loading {
    margin-top: 5px;
    text-align: center;
}

.mango .dgrid-grid .dgrid-header {
    right: 0;
}

.mango .dgrid-grid .dgrid-scrollbar-width {
    display: none;
}

.mango .dgrid-grid .dgrid-scroller {
    overflow-x: hidden;
}

.mango .dgrid-grid .dgrid-content {
    height: auto;
}

/* Mango helper classes */

.smallTitle {
  color: #804000;
  font-size: 13px;
  font-weight: bold;
}

.border {
    border: 1px solid #bbb;
}

.padded {
    padding: 5px;
}

.section .title {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 6px;
    display: inline-block;
}

.section {
  box-shadow: 3px 3px 6px -2px #999;
  margin-bottom: 7px;
  margin-right: 7px;
}

.section .right-links {
    float: right;
}

.section .right-links img {
    cursor: pointer;
}

.mango-row {
    margin-bottom: 3px;
}

.align-middle * {
    vertical-align: middle;
}

.align-middle a {
    vertical-align: baseline;
}

.label-layout label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: right;
  font-weight: bold;
}

.label-layout label img {
  margin-right: 5px;
}

.clickable, .ptr, .mango-help {
  cursor: pointer;
}

.disabled {
  opacity: 0.3;
  cursor: default; 
}

.wide {
    width: 100%;
}

/*
 * AmCharts SVG styles
 */

/* Make sure SVGs inherit their font */
svg text {
  font-family: inherit;
}

.amExportButton a {
  font-family: inherit !important;
}

.amcharts-graph-column-element {
    fill-opacity: 0.7;
}

/*
 * Bootstrap helpers
 */

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
